@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Oxanium', cursive;
}

body {
    font-family: 'Oxanium', cursive;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: calc(100vw);
    height: calc(100vh);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
    margin: 10px 0;
}

.border-body {
    position: absolute;
    border: 3px solid #000;
}

.border-body.right, .border-body.left {
    top: 0;
    bottom: 0;
}

.border-body.top, .border-body.bottom {
    left: 0;
    right: 0;
}

.border-body.top { top: 0 }
.border-body.right { right: 0 }
.border-body.bottom { bottom: 0 }
.border-body.left { left: 0 }

h1, h2, h3 {
    margin: 10px;
}

h1 {
    font-size: 90px;
}

.section {
    text-align: center;
    margin: 10px 0;
    overflow-y: scroll;
    width: calc(100% - 250px);
}

.list-jeux {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-item, .jeu-item {
    background: #CCC;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
}

.jeu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 120px;
}

a, button {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: .5rem;
    cursor: pointer;
    color: #1a202c;
    background-color: white;
}

.btn.delete {
    background: red;
}

a:hover, button:hover {
    background: #000;
    color: #fff;
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

nav ul {
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 1rem;
}

.container {
    margin: 10px 45px 0;
    overflow: scroll;
    width: 70%;
    height: 100%;
}

.container h2 {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #000;
    border-radius: 10px;
    padding: .25rem .5rem;
    margin: 10px 0;
}

label {
    position: relative;
}

label:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid #000;
    bottom: 0;
}

.main-header {
    height: 200px;
}

.btn-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-list > div {
    flex: 1;
    display: flex;
    align-items: center;
}

.btn-type {
    margin-left: 10px;
}

.btn-type a {
    margin-right: 10px;
}

.btn-add {
    justify-content: right;
    margin-right: 10px;
}

.item-content {
    display: flex;
    justify-content: space-between;

}

/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

